@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link" href="/sendPackages.html" title="Manage">Send Package</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/myPackages.html" title="Manage">Packages</a>
    </li>
    <li class="nav-item" id="deliveries">
        <a class="nav-link" href="/myDeliveries.html">Deliveries</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name</a>
        @*Hello @User.Identity.Name!*@
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="/Home" asp-action="aboutUs">About Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="/Home" asp-action="contactUs">Contact Us</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
