@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "EZ Delivery - Forgot your password?";
}


<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form method="post">
                <h1 class="fadeIn first hText">Forgot your password?</h1>
                <h4 class="fadeIn first hText">Enter your email</h4>
                <hr class="fadeIn first" />
                <div asp-validation-summary="All" class="text-danger fadeIn second"></div>
                <div class="form-group fadeIn second center">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger fadeIn second"></span>
                </div>
                @*<button type="submit" class="btn btn-primary">Submit</button>*@
                <div class="fadeIn third center">
                    <input type="button" value="Submit" onclick="submit()">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
