@{
    ViewData["Title"] = "EZ Delivery - About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img id="logo" class="img-fluid rounded mb-4 mb-lg-0" src="/imgs/FinalLogo.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <h1 class="font-weight-light" id="mainTitle">About Us</h1>
        </div>
        <div class="col-1">
        </div>
        <div id="infoDiv" class="col-10">
            <p>
                We are five students that are studying for our B.Sc in Computer Engineering at Ruppin Academic Center.
                <br />
                As a part of a 'Software Engineering' course, we grouped together in order to create
                this awesome platform!
                <br />
                Our goal was to connect between people, while trying to keep the delivery process as simple as possible.
            </p>
            <p>
                We hope you enjoy the platform as a user and of course, as a delivery guy!
            </p>
            <img class="thanks" src="~/imgs/thanks.png" />
        </div>
        <div class="col-1">
        </div>
    </div>
</div>
<!-- -->