@{
    ViewData["Title"] = "EZ Delivery - Welcome!";
}

<!-- Page Content -->
<div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
        <div class="col-lg-7">
            <img id="logo" class="img-fluid rounded mb-4 mb-lg-0" src="imgs/FinalLogo.png" alt="">
        </div>
        <div class="col-lg-5">
            <h1 id="mainTitle" class="font-weight-light">Deliver Like<br />&emsp;Never Before</h1>
        </div>

        <div class="col-1">
        </div>
        <div id="infoDiv" class="col-10">
            <p>
                EZ Delivery is a deliveries management application that was created in order to make your life easier!
                It is a platform for matching people who want to send packages, to others, who would like to do deliver it for them.
            </p>
            <p>Ever needed to send a package, or just return your mother her lunch box you took ages ago?</p>
            <p>
                That won't be a problem anymore! With our platform you will be able to list any package for delivery,
                and anyone across the country will deliver it for you - for a price you decide!
            </p>
            <p>
                And for those among us that are willing to make some quick cash, this is your opportunity!
                <br />
                With EZ Delivery you will be able to choose the delivery request you like, and earn quick money!
            </p>
            <p>
                Isn't it simple? So what are you waiting for?
            </p>
            <img class="thanks" src="~/imgs/signup.png" />
        </div>
        <div class="col-1">
        </div>
    </div>
</div>

